<?xml version="1.0" encoding="gb2312"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
    
    <servlet>
        <servlet-name>CreateDBServlet</servlet-name>
        <servlet-class>org.sunxin.lesson.jsp.bookstore.CreateDBServlet</servlet-class>
               <init-param>
                                           <param-name>driverClass</param-name>
                                           <param-value>com.mysql.jdbc.Driver</param-value>
                            </init-param>
                            <init-param>
                                    <param-name>url</param-name>
                                    <param-value>jdbc:mysql://localhost:3306/mysql</param-value>
                            </init-param>
                            <init-param>
                                    <param-name>user</param-name>
                                    <param-value>root</param-value>
                            </init-param>
                            <init-param>
                                    <param-name>password</param-name>
                                    <param-value>root</param-value>
                            </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CreateDBServlet</servlet-name>
        <url-pattern>/createdb</url-pattern>
    </servlet-mapping>
    
</web-app>