<?xml version="1.0" encoding="GB2312"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <servlet>
    <servlet-name>SetMemberLevel</servlet-name>
    <servlet-class>com.athena.level.SetMemberLevel</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Initialization</servlet-name>
    <servlet-class>com.athena.Initialization</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetMemberLevel</servlet-name>
    <url-pattern>/setmemberlevel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Initialization</servlet-name>
    <url-pattern>/initialization</url-pattern>
  </servlet-mapping>
</web-app>